<!DOCTYPE html>
<html lang="fr">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- sources : 
    http://www.w3schools.com/tags/att_meta_http_equiv.asp 
    http://codesupport.info/6-important-features-as-how-to-do-it-using-meta-tags/
    -->
<meta http-equiv="refresh" content="1">
<meta http-equiv="Cache-Control" content="no-store">
<meta charset="utf-8">
<title>Hugo Page</title>

<meta name="viewport" content="width=device-width, initial-scale=1">


<meta content="Hugo Carnide" name="author">

</head>
<body>

<!--<form action="/mise_a_jour_images" method="post">
    <input type="submit" value="Mise à jour" class="disp" />
</form>-->

<div>
    % for text_line in list_text_affichage:   
        {{text_line}}<br />
    % end
</div>
<span>
% counter = 0 
% for image_titre, image_base64_unique in image_base64.items(): 
% counter += 1
<img alt="{{image_titre}}" src="data:image/png;base64,{{image_base64_unique}}" />
% if (counter % 3) == 0:
<!-- nw rien faire car span nous permet d'avoir une page correct<br/>-->
%end 
%end
</span>
</body>
<footer> </footer>
</html>

